// Button Styles

.btn {
    @extend .font--sans-serif;
    border: none;
    border-radius: 1px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 30px;
}

.btn--blue {
    @include button-variant($white, $blue, $blue);
}

.btn--orange {
    @include button-variant($white, $orange, $orange);
}

