// Button Styles

.btn-default {
    @include button-variant($white, $blue, $blue);
}

.btn {
    @extend .font--sans-serif;
    border: none;
    border-radius: 1px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 30px;
}

.btn-xl {
    padding: 15px 30px;
}