@font-face {
    font-family: StickARound;
    src: url('/fonts/Stick-A-Round.ttf');
}

.font--sans-serif {
    font-family: 'Asap', 'Helvetica Neue', sans-serif;
}

.font--serif {
    font-family: StickARound;
}

.font--stick-a-round {
    font-family: StickARound;

    -webkit-font-feature-settings:"liga" 0; 
    font-feature-settings:"liga" 0; 
    text-rendering: optimizeSpeed;
     -webkit-font-variant-ligatures: no-common-ligatures;
}


.text-small {
    font-size: 12px;
}

.text-primary {
    color: $black;
}

.text-green {
    color: $green;
}