// colors

header,
section,
footer {
    padding: 15px 0px;
}


.section--blue-gradient {
    background-image: -ms-radial-gradient(right bottom, ellipse farthest-corner, #2D70AF 0%, #031440 85%);
    background-image: -moz-radial-gradient(right bottom, ellipse farthest-corner, #2D70AF 0%, #031440 85%);
    background-image: -o-radial-gradient(right bottom, ellipse farthest-corner, #2D70AF 0%, #031440 85%);
    background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 572, color-stop(0, #2D70AF), color-stop(100, #031440));
    background-image: -webkit-radial-gradient(right bottom, ellipse farthest-corner, #2D70AF 0%, #031440 85%);
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #2D70AF 0%, #031440 85%);
}

.section--brown {
    background-color: $brown-dark;
    color: $white;
}

.section--orange {
    background-color: $orange;
    color: $white;
}

.section--orange-gradient {
    background: $orange-light;
    background: -moz-linear-gradient(-45deg,  $orange-light 0%, $orange 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$orange-light), color-stop(100%,$orange));
    background: -webkit-linear-gradient(-45deg,  $orange-light 0%,$orange 100%);
    background: -o-linear-gradient(-45deg,  $orange-light 0%,$orange 100%);
    background: -ms-linear-gradient(-45deg,  $orange-light 0%,$orange 100%);
    background: linear-gradient(135deg,  $orange-light 0%,$orange 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$orange-light', endColorstr='$orange',GradientType=1 );
}

.section--padded-medium {
    padding: 20px 0px;
}

.section--padded-large {
    padding: 60px 0px;
}
