// Variables

$black: #333;
$black-light: #494949;

$blue: #1d2854;
$blue-light: #3a80b3;

$brown: #543021;
$brown-dark: #3e2317;

$green: #169949;
$green-light: #3fb34f;

$gray: #f0f0f0;

$orange: #fda228;
$orange-dark: darken($orange, 15%);
$orange-light: #fbc543;

$red: #FF0000;
$red-dark: darken($red, 10%);

$white: #FFF;
