// Variables

$black: #000;

$blue: #1d2854;
$blue-light: #3a80b3;

$brown: #543021;
$brown-dark: #3e2317;

$green: #19864a;

$orange: #fda228;
$orange-dark: darken($orange, 15%);

$red: #FF0000;

$white: #FFF;
