@import "variables";
@import "fonts";
@import "mixins";

@import "buttons";
@import "sections";


// Global Components
html,
body {
    height: 100%;
    width: 100%;

    @extend .font--sans-serif;
}

a {
    @extend .transition-all;
    color: $blue;
    &:hover,
    &:focus {
        color: darken($blue, 10%);
    }

    &.orange {
        color: $orange;

        &:hover,
        &:focus {
            color: darken($orange, 15%);
        }
    }

    &.white {
        color: $white;

        &:hover,
        &:focus {
            color: darken($white, 15%);
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend .font--serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.no-padding {
    padding: 0;
}


// Navigation

.navbar-default {
    background-color: transparentize($white, .3);
    border: none;
    opacity: 0;

    @extend .transition-all;
    .navbar--brand {
        margin: auto;
        padding: 5px;
        text-align: center;

        img {
            @extend .transition-all;
            height: 40px;
        }
    }

    &.visible {
        opacity: 1;
    }
}


// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: auto;

    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            img.logo {
                width: 90%;
                max-width: 600px;
                margin-bottom: 20px;
            }

            img.cta {
                width: 60%;
                max-width: 400px;
                margin-bottom: 10px;
            }

            p {
                font-weight: 300;
                color: transparentize(white, .1);
                font-size: 16px;
                margin-bottom: 20px;
            }

            form.form--email {
                .error-box {
                    min-height: 30px;
                    padding-bottom: 10px;
                    color: $red;
                }

                .form--email__form__email-input {
                    border: $blue solid 3px;
                    border-radius: 12px;

                    color: $blue;
                }

                .form--email__success-message {
                    padding: 10px 30px;
                    font-size: 18px;

                    text-shadow: 1px 1px 0px transparentize(black, .75);

                    b {
                        font-size: 28px;
                    }
                }

                .btn {
                    width: 100%;
                    max-width: 180px;
                    height: 44px;
                    padding: auto 40px;
                    margin: 7px auto;

                    color: #ffffff;
                    font-size: 16px;
                    text-decoration: none;
                    text-shadow: 0px 1px 0px rgba(150, 84, 6, 0.1);
                    cursor: pointer;

                    -moz-box-shadow:inset 0px 1px 0px 0px lighten($orange-dark, 25%);
                    -webkit-box-shadow:inset 0px 1px 0px 0px lighten($orange-dark, 25%);
                    box-shadow:inset 0px 1px 0px 0px lighten($orange-dark, 25%);

                    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $orange), color-stop(1, darken($orange, 10%)));
                    background:-moz-linear-gradient(top, $orange 5%, darken($orange, 10%) 100%);
                    background:-webkit-linear-gradient(top, $orange 5%, darken($orange, 10%) 100%);
                    background:-o-linear-gradient(top, $orange 5%, darken($orange, 10%) 100%);
                    background:-ms-linear-gradient(top, $orange 5%, darken($orange, 10%) 100%);
                    background:linear-gradient(to bottom, $orange 5%, darken($orange, 10%) 100%);
                    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$orange', endColorstr='darken($orange, 10%)',GradientType=0);
                    background-color:$orange;
                }
                .btn:hover {
                    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $orange-dark), color-stop(1, $orange));
                    background:-moz-linear-gradient(top, $orange-dark 5%, $orange 100%);
                    background:-webkit-linear-gradient(top, $orange-dark 5%, $orange 100%);
                    background:-o-linear-gradient(top, $orange-dark 5%, $orange 100%);
                    background:-ms-linear-gradient(top, $orange-dark 5%, $orange 100%);
                    background:linear-gradient(to bottom, $orange-dark 5%, $orange 100%);
                    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$orange-dark', endColorstr='$orange',GradientType=0);
                    background-color:$orange-dark;
                }
                .btn:active {
                    position:relative;
                    top:1px;
                }


            }
        }
    }
    @media (min-width: 768px) and (min-height: 600px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 42%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;

                img.logo {
                    margin-bottom: 50px;
                }

                img.cta {
                    width: 60%;
                    max-width: 400px;
                }

                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }

                form.form--email {
                    height: 110px;

                    .form-control {
                        height: 58px;
                    }
                }
            }
        }
    }
}

footer {
    font-size: 12px;
}

form {
    label {
        display: inline-block;
        max-width: 100%;
        margin-left: 1px;
        margin-bottom: 2px;
        
        color: white;
        text-shadow: 1px 1px 0px rgba(0,0,0,.1);
        font-weight: 600;
    }

    textarea {
        resize: vertical;
    }

    .form-control {
        border-color: lighten($blue, 20%);

        &.error {
            border-color: $red;
            background-color: lighten($red, 70%);

            &::-webkit-input-placeholder {
               color: lighten($red, 30%);
            }

            &:-moz-placeholder { /* Firefox 18- */
               color: lighten($red, 30%);;  
            }

            &::-moz-placeholder {  /* Firefox 19+ */
               color: lighten($red, 30%);;  
            }

            &:-ms-input-placeholder {
               color: lighten($red, 30%);
            }
        }
    }

    &.form--small {
        .form-control {
            border-radius: 3px;
            box-shadow: none;
        }
    }

    &.form--orange {
        .form-control {
            border-color: darken($orange, 20%);
        }
    }
}

// Bootstrap Overrides

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
