.lab-results {
    min-height: 100%;
    width: 100%;

    background: $gray;

    img.logo {
        width: 80%;

        margin-top: 40px;
        margin-bottom: 40px;
    }

    #lab-results__form {
        padding: 20px 0px;

        input[type="text"] {
            height: 44px;
            background: $white;

            border: 1px solid #cecece;
            border-radius: 3px;
            font-size: 16px;
        }

        button {
            height: 46px;
            margin-top: 30px;

            background: #f2f2f2;
            border-radius: 2px;
            border: 1px solid #cecece;
            font-weight: normal;
            font-size: 12px;

            &:hover {
                background: darken($gray, 2%);
            }

        }

        .error-box {
            text-align: center;
            padding-top: 20px;
        }
    }

    .lab-results__footer {
        padding-top: 80px;
        padding-bottom: 10px;
        color: $grey-dark;

        @media (min-height: 625px) {
            position: absolute;
            padding-top: 0px;
            width: 100%;
            bottom: 10px;
        }
    }

}