.lab-results {
    min-height: 100%;
    width: 100%;

    background: $gray;

    img.logo {
        width: 80%;

        margin-top: 40px;
        margin-bottom: 40px;
    }

    #lab-results__form {
        padding: 20px 0px;

        input[type="text"] {


        }

        button {

        }
    }

    .lab-results__footer {
        position: absolute;
        width: 100%;

        bottom: 20px;

        color: $grey-dark;
    }


}