.locations-map {
    position: relative;
    width: 100%;
    height: 94%; // Magic number, takes into account header

    background: $blue;

    .locations-map__header {

    }

    .locations-map__map-box {
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;
        bottom: 5px;
    }
}
