.locations-map {
    position: relative;
    width: 100%;
    height: 94%; // Magic number, takes into account header

    background: $blue;

    .locations-map__header {

    }

    .locations-map__map-box {
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;
        bottom: 5px;
    }

    .locations-map__map-box__marker-info-box {
        text-align: center;

        min-width: 180px;
        min-height: 170px;
        padding-top: 10px;

        img {
            max-height: 42px;
            max-width: 150px;
        }

        .marker-info-box__body {
            padding-top: 10px;
            margin: 0px 20px;

            
            font-size: 11px;
            text-align: left;
            white-space: nowrap;

            .marker-info-box__body__row {
                padding-bottom: 3px;

                span {
                    display: inline-block;
                    width: 50px;
                    font-weight: 500;
                }

                a {
                    color: $blue-light;
                }

                &.no-space {
                    padding-bottom: 0;
                }
            }
        }
    }
}
