.navbar-default {
    background-color: transparentize($white, .3);
    border: none;
    opacity: 0;

    @extend .transition-all;
    .navbar--brand {
        margin: auto;
        padding: 5px;
        text-align: center;

        img {
            @extend .transition-all;
            height: 40px;
        }
    }

    .navbar-links {
        padding-top: 14px;
        padding-bottom: 12px;

        a {
            margin-left: 10px;

            &:first-of-type {
                margin-left: 0px;
            }
        }
    }

    &.visible {
        opacity: 1;
    }
}
